/* Base Styles
   ========================================================================== */

ul{
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

li{
	list-style: none;
}

/* Layout
   ========================================================================== */

.images-item{
	height: 200px;
	background-size: cover !important;
}

.words-wrapper,
.answer-input-wrapper{
	text-align: center;
	margin: 30px 0 20px;
}

.words-item,
.answer-input-item{
	display: inline-block;
}

.words-item .btn,
.answer-input-item .btn{
	font-size: 20px;
	width: 45px;
    margin: 0 5px;
    text-align: center;
    text-transform: uppercase;
}

.answer-input-item .btn,
.words-item .btn.without-item{
	outline: none !important;
	color: transparent !important;
}

.answer-input-item .btn.with-item,
.words-item .btn{
	color: #333 !important;
}