<h2 class="text-center">Stage {{appCtrl.localStorage.stage}}</h2>

<ul class="row images-list">
  <li ng-repeat="image in appCtrl.images track by $index" 
      class="col-sm-4 images-item" 
      style="background: url({{image.url_m}}) center center no-repeat;" ng-class="{ 'col-md-offset-2' : $index%2 === 0 }">
  </li>
</ul>


<ul class="answer-input-wrapper">
  <li class="answer-input-item" ng-repeat="item in appCtrl.answerLength track by $index">
    <button class="btn btn-default" ng-class="{'with-item': appCtrl.answer[$index]}" ng-click="!appCtrl.answer[$index]||appCtrl.removeAnswers($index, appCtrl.answer[$index])">
      <span ng-if="appCtrl.answer[$index]">
        {{appCtrl.answer[$index]}}
      </span>
      <span ng-if="!appCtrl.answer[$index]">
        X
      </span>
    </button>
  </li>
</ul>
  
<ul class="words-wrapper">
  <li class="words-item" ng-repeat="(key, hint) in appCtrl.answerHints track by $index">
    <button class="btn btn-default" ng-click="!hint||appCtrl.addAnswers(key, hint)" ng-class="{'without-item': !appCtrl.answerHints[key]}">
      <span ng-if="appCtrl.answerHints[key]">
        {{hint}}
      </span>
      <span ng-if="!appCtrl.answerHints[key]">
        X
      </span>
    </button>
  </li>
</ul>


{{appCtrl.answer}}

<!-- {{appCtrl.answersHints}} -->